<div class='static-wrapper'>
  <div class='login-left'>
    <h1 class='title'>Instagourmet</h1>
    ようこそ
    <h2 class='introduction'>あなたの好きをフォローしよう</h2>
  </div>
  <div class='login-right'>
    <div class="form-container">
        <div class="login-form">
            <h1>ログイン</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <p>
                    <%= f.check_box :remember_me %>
                    この内容を記憶しますか？
                  </p>
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
            <% end %>

        </div>
    </div>
  </div>
</div>
