<div class="user-info">
    <div class="left">
       <%= image_tag('sample.jpg', class: 'user-icon') %>
        <p class="user-name"><%= @user.name %></p>
    </div>
    <div class="right">
      <a href="<%= following_user_path(@user) %>" class="button">
          フォロー <%= @user.following.count %>
      </a>
      <a href="<%= followers_user_path(@user) %>" class="button">
          フォロワー <%= @user.followers.count %>
      </a>
        <% if current_user %>
          <% if @user == current_user%>
            <a href='#' class='button'>編集</a>
          <% elsif @is_followed%>
            <%= link_to 'フォローをやめる', unfollow_user_path(current_user, @user), method: :post, class: 'button' %>
          <% else%>
            <%= link_to 'フォローする', follow_user_path(current_user, @user), method: :post, class: 'button' %>
          <% end %>
        <% end %>
        <p>
            ああああああああああああああああああああ
            あああああああああああああああああああ
            あああ
            あ
        </p>
    </div>
</div>
