<%= render '/users/shared/user_info' %>

<div class="contents">
  <div class="tabs">
  <%= link_to "投稿", user_path(@user.id), class: "tab selected" %>
  <%= link_to "食べたい", favorite_posts_user_path(@user.id), class: "tab" %>
  </div>
  <div class="posts">
    <% @user.posts.each do |post| %>
      <% if post.photo? %>
        <a href = "<%= user_post_path(@user.id, post.id) %>" >
          <%= image_tag(post.photo.url, class: 'post-image') %>
        </a>
        <% else %>
        <% end %>
    <% end %>
  </div>
</div>

<%= render '/users/shared/footer' %>
